nav {
    overflow: hidden;
    background-color: #5A0000;
    position: fixed;
    top: 0;
    width: 100%; 
    text-align: center;
    margin-left: 0px;
    max-height: 70px;
    z-index: 1;
    box-shadow: 1px 5px 5px #9a1818;
}

nav a {
    display: inline-flex;
    color: rgb(187, 176, 170, 0.8);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Italiana', serif;
    padding: 10px;
    margin-top: 10px; 
}

nav a:hover {
    background-color: rgb(187, 176, 170, 0.8);
    color: #5A0000;
    font-weight: bolder;
}

nav img {
   float: left; 
    max-height: 50px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 30px;
}

body{
    background: url(./images/background.jpg) no-repeat center fixed;
    margin: 0;
    padding: 0;
   -webkit-background-size: cover;
    background-size: cover;
    
}

#produits{
    background-image: url(./images/background_produits.jpg);
    margin-left: 0;
    margin-bottom: 200px;
   -webkit-background-size: cover;
    background-size: cover; 
}

main {
    margin-top:100px;
    width:  auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#index {
    background-image: url(./images/background.jpeg);
    margin-left: 0;
    margin-bottom: 200px;
    -webkit-background-size: contain;
    background-size: contain; 
}


h1{
    font-family: 'Italiana', serif;
    color: #f0edeb;
    text-align: center;
    font-size: 4vw;
    text-shadow: 1px 1px 5px #1C0702;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h2{
    font-family: 'Italiana', serif;
    color: #1C0702;
    text-align: center;
    font-size: 30px;
}

section1{
    background: rgb(187, 176, 170, 0.6);
    margin: 100px;

}

article1, article2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section3, section5 {
    display: flex;
    flex-direction: column;
}

section3 div, section5 div {
    margin-left: 50px; 
    height: 125px;
    margin-top: auto;
    margin-bottom: auto; 
}

section3 p, section5 p {
    font-size: 30px; 
    color: #1C0702;
    font-weight: bolder;
}

.pizza img {
   max-width: 300px; 
}

.pizza li{
    list-style-type: none;
    margin-bottom: 20px;
}

article3 {
    background: rgb(187, 176, 170, 0.8);
    margin: 100px;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    text-align: justify;
}

#philo_text {
 
    margin: 10px;
    
}

#philo_text p {
    width: 70%;
    float: right;
}

article3 img{
    max-width: 20vw;
    float: left;
}

p{
    display: flex;
    font-family: 'Italiana', serif;
    color: #1C0702;
    font-size: 2vh;
    font-weight: bolder;
}

#contactpage {
    display: flex;
    justify-content: center;
}

#maps {
    margin-top: 150px;
    margin-right: 20px;
       float: left;
    border: 0;
}

form {
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin-top: 150px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    font-family: 'Oswald', sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 10px;
}

textarea {
    vertical-align: middle;
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
    min-width: 300px;
}

.button {
    padding-left: 90px;
    margin-top: 10px; 
}

button {
    margin-left: 0.2em;
    font-family: 'Oswald', sans-serif;
}


footer{
    position:fixed;
    bottom: 0;
    background-color: #5A0000;
    text-align: center;
    padding: 20px 8px 20px 0px;
    width: 100%; 
    border: none;
    margin-left:0px;
    margin-top: 20px;
    }

footer a{
    font-family: 'Italiana', serif;  
    list-style-type: none;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    }

footer1 {
    position:fixed;
    bottom: 0;
    background-color: #5A0000;
    text-align: center;
    padding: 20px 8px 20px 0px;
    width: 100%; 
    border: none;
    margin-left:0px;
    margin-top: 20px;
    }

footer1 a{
    font-family: 'Italiana', serif;  
    list-style-type: none;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    }
